$green: #0CC09E;
$background: #FAFAFA;
$blue: #4361EE;
$pink: #D61E92;
$text-color: #0C092B;
$font-size-default: 1rem;

$title-font : "Chakra Petch", sans-serif;
$text-font : "Inconsolata", sans-serif;