header {
  display: flex;
  justify-content: space-between;
  max-width: 100vw;
  margin: 0 auto;
}
header h1 {
  padding: 0;
  margin: 0;
}
header nav {
  display: flex;
  align-items: center;
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin: 0 2rem;
}
header nav ul li a {
  font-size: 1.1rem;
  color: #FAFAFA;
  background-color: #4361EE;
  text-decoration: none;
  padding: 0.8rem 1.2rem;
  -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
          clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}

/**** CSS of index Villagers ****/
.search {
  display: block;
  margin: 0.8rem auto;
  border: none;
  padding: 0.5rem 0.4rem;
  background-color: #4361EE;
}
.search::-moz-placeholder {
  color: #FAFAFA;
  font-family: "Inconsolata", sans-serif;
}
.search::placeholder {
  color: #FAFAFA;
  font-family: "Inconsolata", sans-serif;
}
.search:focus {
  outline: none;
  font-family: #0C092B;
  color: #FAFAFA;
}

.villagers ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.villagers ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 1.2rem;
  transition: transform 0.3s ease;
}
.villagers ul li img {
  padding-top: 0.6rem;
  padding: 0 0.6rem;
  background-color: #0CC09E;
  -webkit-clip-path: polygon(20% 0, 20% 10%, 10% 10%, 10% 20%, 0 20%, 0 80%, 10% 80%, 10% 90%, 20% 90%, 20% 100%, 80% 100%, 80% 90%, 90% 90%, 90% 80%, 100% 80%, 100% 20%, 90% 20%, 90% 10%, 80% 10%, 80% 0);
          clip-path: polygon(20% 0, 20% 10%, 10% 10%, 10% 20%, 0 20%, 0 80%, 10% 80%, 10% 90%, 20% 90%, 20% 100%, 80% 100%, 80% 90%, 90% 90%, 90% 80%, 100% 80%, 100% 20%, 90% 20%, 90% 10%, 80% 10%, 80% 0);
}
.villagers ul li a {
  text-decoration: none;
  color: #0C092B;
  margin-top: 0.2rem;
}
.villagers ul li:hover {
  transform: scale(1.15);
}

.single-villager {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 10rem repeat(3, auto);
}
.single-villager .villager-picture {
  grid-area: 1/2/2/3;
  justify-self: self-end;
  align-self: center;
  width: 10rem;
  padding-top: 0.6rem;
  padding: 0 0.6rem;
  background-color: #0CC09E;
  -webkit-clip-path: polygon(20% 0, 20% 10%, 10% 10%, 10% 20%, 0 20%, 0 80%, 10% 80%, 10% 90%, 20% 90%, 20% 100%, 80% 100%, 80% 90%, 90% 90%, 90% 80%, 100% 80%, 100% 20%, 90% 20%, 90% 10%, 80% 10%, 80% 0);
          clip-path: polygon(20% 0, 20% 10%, 10% 10%, 10% 20%, 0 20%, 0 80%, 10% 80%, 10% 90%, 20% 90%, 20% 100%, 80% 100%, 80% 90%, 90% 90%, 90% 80%, 100% 80%, 100% 20%, 90% 20%, 90% 10%, 80% 10%, 80% 0);
}
.single-villager .villager-general {
  grid-area: 1/1/2/2;
  align-self: center;
}
.single-villager .title button {
  border: none;
  background-color: #4361EE;
  padding: 0.6rem 0.8rem;
  font-family: "Inconsolata", sans-serif;
  color: #FAFAFA;
  font-size: 1.05rem;
  -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
          clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
  cursor: pointer;
}
.single-villager .title button.button-focus {
  font-weight: bolder;
  -webkit-clip-path: polygon(20% 0, 20% 10%, 10% 10%, 10% 20%, 0 20%, 0 80%, 10% 80%, 10% 90%, 20% 90%, 20% 100%, 80% 100%, 80% 90%, 90% 90%, 90% 80%, 100% 80%, 100% 20%, 90% 20%, 90% 10%, 80% 10%, 80% 0);
          clip-path: polygon(20% 0, 20% 10%, 10% 10%, 10% 20%, 0 20%, 0 80%, 10% 80%, 10% 90%, 20% 90%, 20% 100%, 80% 100%, 80% 90%, 90% 90%, 90% 80%, 100% 80%, 100% 20%, 90% 20%, 90% 10%, 80% 10%, 80% 0);
}
.single-villager .villager-events {
  grid-area: 2/1/3/3;
}
.single-villager .villager-events .events tr th {
  width: 8rem;
}
.single-villager .gifts {
  grid-area: 3/1/4/3;
}
.single-villager .planning {
  grid-area: 4/1/5/3;
}

.admin-header {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 20% 80%;
  grid-column-gap: 1.5rem;
  background-color: #4361EE;
  width: 100%;
  box-shadow: 0.3rem 0px 0px 0px rgba(67, 97, 238, 0.6), 0.6rem 0px 0px 0px rgba(67, 97, 238, 0.4), 0.9rem 0px 0px 0px rgba(67, 97, 238, 0.2);
}
.admin-header h1 {
  grid-area: 1/1/2/2;
  padding: 2rem 1rem;
  align-self: center;
  text-align: center;
  color: #FAFAFA;
}
.admin-header form {
  grid-area: 1/2/2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
.admin-header form input {
  border: none;
  background-color: #FAFAFA;
  -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
          clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
  color: #4361EE;
  padding: 0.5rem 1rem;
}
.admin-header nav {
  grid-area: 2/1/3/3;
  align-items: start;
  justify-content: center;
}
.admin-header nav ul {
  flex-direction: column;
  align-items: center;
}
.admin-header nav ul li {
  margin: 2rem 0;
}
.admin-header nav ul li a {
  background-color: #FAFAFA;
  color: #4361EE;
  font-weight: bolder;
}

.admin-layout {
  display: grid;
  grid-template-columns: 20vw 80vw;
  height: 100vh;
}
.admin-layout .admin-header {
  grid-column: 1/2;
}
.admin-layout main {
  grid-column: 2/3;
  width: 100%;
}
.admin-layout main h2 {
  padding: 2rem 0;
}
.admin-layout main .add-picture h3 {
  margin: 2rem 0;
  font-size: 1.4rem;
}
.admin-layout main .add-picture form {
  display: flex;
}
.admin-layout main .add-picture form label {
  cursor: pointer;
  border: 1px solid #D61E92;
  padding: 0.5rem 1rem;
  background-color: rgba(214, 30, 146, 0.2);
}
.admin-layout main .add-picture form input[type=file] {
  display: none;
}
.admin-layout main .add-picture form input[type=submit] {
  border: 1px solid #0CC09E;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-family: "Inconsolata", sans-serif;
  font-size: 1rem;
  background-color: #0CC09E;
  font-weight: bolder;
}

html {
  font-size: 16px;
}
html body {
  font-family: "Inconsolata", sans-serif;
  font-size: 1rem;
  background-color: #FAFAFA;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html body main {
  max-width: 70vw;
  margin: 0 auto;
}
html body ul {
  list-style: none;
  padding: 0;
}
html body h1, html body h2, html body h3, html body h4 {
  font-family: "Chakra Petch", sans-serif;
  margin: 0;
}
html body h2 {
  font-size: 2rem;
  text-align: center;
}/*# sourceMappingURL=style.css.map */