@import 'vars';
@import 'users/partials/header';
@import 'users/partials/footer';
@import 'users/homepage';
@import 'users/villagers';
@import 'users/villager';
@import 'admin/partials/header';
@import 'admin/homepage';
@import 'admin/data';


html {
    font-size:16px;

    body {
        font-family : $text-font;
        font-size : $font-size-default;
        background-color: $background-body;
        padding: 0;
        margin : 0;
        box-sizing: border-box;
        line-height: 1.4rem;

        .hidden {
            display: none;
        }

        main {
            max-width: 65vw;
            margin: 0 auto;
            box-shadow: inset .3rem 0px 0px 0px rgba(217,217,217,0.6),
                        inset -.3rem 0px 0px 0px rgba(217,217,217,0.6),
                        inset .6rem 0px 0px 0px rgba(217,217,217,0.4),
                        inset -.6rem 0px 0px 0px rgba(217,217,217,0.4);
        }

        p {
            margin:0;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        h1, h2, h3, h4 {
            font-family: $title-font;
            margin: 0;
        }

        h2 {
            font-size: 2rem;
            text-align: center;
            padding: 2.5rem 0;
        }

        h3 {
            margin-bottom: 1.5rem;
        }
    }
}