@charset "UTF-8";
/**** SCCS FOR THE HEADER ****/
header {
  display: grid;
  grid-template-columns: 17.5vw 65vw auto;
  max-width: 100vw;
  background-color: #4361EE;
  padding: 2rem 2.5rem;
  box-shadow: 0px 4px 25px 2px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 1;
}
header img {
  grid-area: 1/1/2/2;
  width: 16rem;
}
header nav {
  grid-area: 1/2/2/3;
  align-self: center;
}
header nav ul {
  display: flex;
  justify-content: space-evenly;
}
header nav ul li a {
  font-size: 1.1rem;
  color: #4361EE;
  background-color: #FAFAFA;
  padding: 0.8rem 1.2rem;
  -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
          clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
  transition: all 0.2s ease-in-out;
}
header nav ul li a:hover {
  transform: translateY(-0.5rem);
  font-weight: bolder;
}
header nav ul li form {
  display: flex;
  align-items: center;
}
header nav ul li form input {
  background-image: url("/res04-projet-soutenance/assets/images/logout-icon.png");
}
header nav ul li form input:hover {
  filter: saturate(0);
}
header nav ul li button, header nav ul li input {
  width: 3rem;
  height: 3rem;
  padding: 0.8rem 1.2rem;
  border: none;
  background-position: center center;
  background-size: 80%;
  background-repeat: no-repeat;
  background-color: #FAFAFA;
  -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
          clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
  cursor: pointer;
}
header nav ul li button {
  background-image: url("/res04-projet-soutenance/assets/images/moon.png");
}
header .font-size {
  position: absolute;
  top: 8rem;
  left: 2rem;
}
header .font-size button {
  border: none;
  background-color: #4361EE;
  -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
          clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
  cursor: pointer;
}
header .font-size button:first-of-type {
  font-size: 1.1rem;
  padding: 0.5rem 0.7rem;
}
header .font-size button:last-of-type {
  font-size: 0.9rem;
  padding: 0.7rem 0.9rem;
}

/**** MEDIA QUERIES FOR TABLETS ****/
@media only screen and (min-width: 768px) and (max-width: 992px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
  }
  header nav {
    padding-top: 1rem;
  }
  header nav ul li {
    padding: 0 1.5rem;
  }
  header .font-size {
    top: 1rem;
    left: 1rem;
  }
  header .font-size button {
    background-color: #FAFAFA;
  }
}
/**** MEDIA QUERIES FOR SMARTPHONES ****/
@media only screen and (max-width: 767px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }
  header nav {
    padding-top: 1rem;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header nav ul li {
    padding: 0.4rem 0;
  }
  header .font-size {
    top: 1rem;
    left: 1rem;
  }
  header .font-size button {
    background-color: #FAFAFA;
  }
}
/**** MEDIA QUERIES FOR SMALLER LAPTOPS ****/
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  header {
    grid-template-columns: repeat(2, auto);
  }
  header img {
    grid-area: 1/1/2/2;
  }
  header nav {
    grid-area: 1/2/2/3;
  }
  header nav ul {
    display: flex;
    justify-content: space-between;
  }
}
/**** SCCS FOR THE FOOTER ****/
footer {
  background-color: #4361EE;
  padding: 1rem 0;
  box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.4);
}
footer nav ul {
  display: flex;
  justify-content: space-evenly;
}
footer nav ul li a {
  font-size: 1rem;
  color: #FAFAFA;
  text-decoration: none;
}

/**** MEDIA QUERIES FOR TABLETS ****/
@media only screen and (min-width: 768px) and (max-width: 992px) {
  footer nav {
    max-width: 100vw;
  }
  footer nav ul {
    width: 100%;
    justify-content: space-evenly;
  }
}
.homepage section.presentation {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
}
.homepage section.presentation h2 {
  grid-area: 1/1/2/3;
  margin-bottom: 1rem;
}
.homepage section.presentation img {
  grid-area: 2/2/4/3;
  width: 90%;
  margin: 1rem 0;
  justify-self: right;
}
.homepage section.presentation p:first-of-type {
  grid-area: 2/1/3/2;
  text-align: justify;
  margin: 1rem 0;
}
.homepage section.presentation p:last-of-type {
  grid-area: 3/1/4/2;
  text-align: justify;
}
.homepage section.find-file a {
  text-decoration: none;
  color: #D61E92;
  font-weight: bolder;
}
.homepage section.find-file article {
  margin-top: 2rem;
}
.homepage section code {
  word-wrap: break-word;
  background-color: rgba(12, 192, 158, 0.4);
  padding: 0.2rem;
}

/**** MEDIA QUERIES FOR SMARTPHONES ****/
@media only screen and (max-width: 767px) {
  .homepage section.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/**** SCSS OF THE INDEX OF THE VILLAGERS ****/
.all-villagers {
  background-color: #FAFAFA;
}
.all-villagers .search {
  display: block;
  margin: 2rem auto;
  border: 1px solid #D61E92;
  padding: 0.5rem 0.4rem;
  background-color: rgba(214, 30, 146, 0.2);
}
.all-villagers .search::-moz-placeholder {
  color: #0C092B;
  font-family: "Inconsolata", sans-serif;
}
.all-villagers .search::placeholder {
  color: #0C092B;
  font-family: "Inconsolata", sans-serif;
}
.all-villagers .search:focus {
  outline: none;
  font-family: "Inconsolata", sans-serif;
  color: #0C092B;
}
.all-villagers .villagers ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.all-villagers .villagers ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  transition: transform 0.3s ease;
}
.all-villagers .villagers ul li img {
  padding-top: 0.6rem;
  padding: 0 0.6rem;
  background-color: #0CC09E;
  -webkit-clip-path: polygon(20% 0, 20% 10%, 10% 10%, 10% 20%, 0 20%, 0 80%, 10% 80%, 10% 90%, 20% 90%, 20% 100%, 80% 100%, 80% 90%, 90% 90%, 90% 80%, 100% 80%, 100% 20%, 90% 20%, 90% 10%, 80% 10%, 80% 0);
          clip-path: polygon(20% 0, 20% 10%, 10% 10%, 10% 20%, 0 20%, 0 80%, 10% 80%, 10% 90%, 20% 90%, 20% 100%, 80% 100%, 80% 90%, 90% 90%, 90% 80%, 100% 80%, 100% 20%, 90% 20%, 90% 10%, 80% 10%, 80% 0);
}
.all-villagers .villagers ul li a {
  text-decoration: none;
  margin-top: 0.2rem;
}
.all-villagers .villagers ul li:hover {
  transform: scale(1.15);
}

/**** MEDIA QUERIES FOR SMARTPHONES ****/
@media only screen and (max-width: 767px) {
  .all-villagers .villagers ul li {
    width: 30%;
    margin: 0.6rem;
  }
}
/**** SCSS of a single villager ****/
.villager {
  background-color: #FAFAFA;
}
.villager .single-villager {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 14rem repeat(3, auto);
  grid-row-gap: 1rem;
  grid-column-gap: 2rem;
}
.villager .single-villager h3:not(.title) {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  background-color: #4361EE;
  padding: 0.6rem 0.8rem;
  font-family: "Inconsolata", sans-serif;
  font-weight: bolder;
  color: #FAFAFA;
  font-size: 1.2rem;
  -webkit-clip-path: polygon(20% 0, 20% 10%, 10% 10%, 10% 20%, 0 20%, 0 80%, 10% 80%, 10% 90%, 20% 90%, 20% 100%, 80% 100%, 80% 90%, 90% 90%, 90% 80%, 100% 80%, 100% 20%, 90% 20%, 90% 10%, 80% 10%, 80% 0);
          clip-path: polygon(20% 0, 20% 10%, 10% 10%, 10% 20%, 0 20%, 0 80%, 10% 80%, 10% 90%, 20% 90%, 20% 100%, 80% 100%, 80% 90%, 90% 90%, 90% 80%, 100% 80%, 100% 20%, 90% 20%, 90% 10%, 80% 10%, 80% 0);
}
.villager .single-villager h3:not(.title).title:after {
  content: "Schedule ↑";
}
.villager .single-villager .villager-picture {
  grid-area: 1/1/2/3;
  justify-self: center;
  width: 14rem;
  background-color: #0CC09E;
  -webkit-clip-path: polygon(20% 0, 20% 10%, 10% 10%, 10% 20%, 0 20%, 0 80%, 10% 80%, 10% 90%, 20% 90%, 20% 100%, 80% 100%, 80% 90%, 90% 90%, 90% 80%, 100% 80%, 100% 20%, 90% 20%, 90% 10%, 80% 10%, 80% 0);
          clip-path: polygon(20% 0, 20% 10%, 10% 10%, 10% 20%, 0 20%, 0 80%, 10% 80%, 10% 90%, 20% 90%, 20% 100%, 80% 100%, 80% 90%, 90% 90%, 90% 80%, 100% 80%, 100% 20%, 90% 20%, 90% 10%, 80% 10%, 80% 0);
}
.villager .single-villager .villager-general {
  grid-area: 2/1/3/3;
  justify-self: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 14rem;
  text-align: center;
  border: 2px dashed #D61E92;
}
.villager .single-villager .villager-events {
  grid-area: 3/1/4/2;
  border: 2px dashed #D61E92;
  padding: 1rem;
}
.villager .single-villager .villager-events table {
  width: 100%;
}
.villager .single-villager .villager-events table tr th {
  padding: 0.7rem 0;
  background-color: #D9D9D9;
  border: 1px solid #D61E92;
}
.villager .single-villager .villager-events table tr td {
  padding-bottom: 0.8rem;
}
.villager .single-villager .gifts {
  grid-area: 3/2/4/3;
  border: 2px dashed #D61E92;
  padding: 1rem;
}
.villager .single-villager .gifts table tr th {
  padding: 0.7rem 0;
  background-color: #D9D9D9;
  border: 1px solid #D61E92;
}
.villager .single-villager .gifts table tr td {
  padding-bottom: 0.8rem;
}
.villager .single-villager .planning {
  grid-area: 4/1/5/3;
  border: 2px dashed #D61E92;
  padding: 1rem;
}
.villager .single-villager .planning .events {
  width: 100%;
}
.villager .single-villager .planning .events table {
  width: 100%;
  margin: 1rem 0;
}
.villager .single-villager .planning .events table thead tr th {
  padding: 0.4rem 0;
  background-color: #D9D9D9;
  border: 1px solid #D61E92;
}
.villager .single-villager .planning .events table thead tr th button {
  font-size: 1.1rem;
  background-color: #D9D9D9;
  -webkit-clip-path: none;
          clip-path: none;
  color: #0C092B;
  font-weight: bolder;
}
.villager .single-villager .planning .events table tbody td.day {
  text-align: center;
  padding: 0.4rem 0;
  font-weight: 600;
}

/**** MEDIA QUERIES FOR SMARTPHONES ****/
@media only screen and (max-width: 767px) {
  .villager .single-villager {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .villager .single-villager .villager-picture {
    width: 10rem;
  }
  .villager .single-villager .planning {
    align-self: flex-start;
    width: 90%;
  }
  .villager .single-villager .planning .events table tbody tr td:first-of-type {
    width: 7rem;
    padding-right: 0.6rem;
  }
}
/**** SCSS FOR THE INDEX OF THE GAMES AND THE UPLOADER ****/
.player-progress {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, auto);
  grid-gap: 1rem;
}
.player-progress h2 {
  grid-area: 1/1/2/4;
}
.player-progress article {
  border: 2px dashed #D61E92;
  padding: 1rem;
}
.player-progress article h3 {
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  border: none;
  background-color: #4361EE;
  padding: 0.6rem 0.8rem;
  font-family: "Inconsolata", sans-serif;
  color: #FAFAFA;
  -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
          clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}
.player-progress article.player {
  grid-area: 2/1/3/3;
}
.player-progress article.skill {
  grid-area: 2/3/3/4;
}
.player-progress article.possessed-items {
  grid-area: 3/1/4/2;
}
.player-progress article.books {
  grid-area: 3/2/4/3;
}
.player-progress article.stats {
  grid-area: 3/3/4/4;
}
.player-progress article.bundles {
  grid-area: 4/1/5/4;
}
.player-progress article.bundles ul {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 12rem;
       column-gap: 12rem;
}
.player-progress article.bundles ul li {
  display: flex;
}
.player-progress article.bundles ul li img {
  width: 2rem;
  height: 2rem;
}
.player-progress article.bundles ul li p {
  margin-left: 0.6rem;
}
.player-progress article.artifacts {
  grid-area: 5/1/6/4;
  display: grid;
  grid-template-rows: repeat(4, auto);
}
.player-progress article.artifacts h3 {
  justify-self: self-start;
}
.player-progress article.artifacts h4 {
  color: #FAFAFA;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 0.4rem 0.6rem;
  background-color: #0CC09E;
  -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
          clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}
.player-progress article.artifacts h4:first-of-type {
  grid-row: 1/2;
}
.player-progress article.artifacts ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 1rem 0;
}
.player-progress article.artifacts ul:first-of-type {
  grid-row: 2/3;
}
.player-progress article.artifacts ul li {
  margin: 0.8rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player-progress article.relationships {
  grid-area: 6/1/7/4;
}
.player-progress article.relationships .events ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.player-progress article.relationships .events ul li {
  width: 8rem;
  height: auto;
  margin: 0.8rem 1rem;
  transition: transform 0.3s ease;
}
.player-progress article.relationships .events ul li img {
  width: 80%;
  padding: 0.6rem;
  background-color: #0CC09E;
  -webkit-clip-path: polygon(20% 0, 20% 10%, 10% 10%, 10% 20%, 0 20%, 0 80%, 10% 80%, 10% 90%, 20% 90%, 20% 100%, 80% 100%, 80% 90%, 90% 90%, 90% 80%, 100% 80%, 100% 20%, 90% 20%, 90% 10%, 80% 10%, 80% 0);
          clip-path: polygon(20% 0, 20% 10%, 10% 10%, 10% 20%, 0 20%, 0 80%, 10% 80%, 10% 90%, 20% 90%, 20% 100%, 80% 100%, 80% 90%, 90% 90%, 90% 80%, 100% 80%, 100% 20%, 90% 20%, 90% 10%, 80% 10%, 80% 0);
}
.player-progress article.relationships .events ul li:hover {
  transform: scale(1.15);
}
.player-progress article.relationships .events ul li p span {
  color: #D61E92;
  font-weight: bolder;
  font-size: 1.3rem;
}
.player-progress article.locations {
  grid-area: 7/1/8/4;
}
.player-progress article.locations .events ul li {
  display: flex;
  align-items: center;
  margin: 0.6rem 0;
}
.player-progress article.locations .events ul li img {
  display: inline-block;
  width: 45%;
  margin-right: 0.6rem;
}

/**** MEDIA QUERIES FOR SMARTPHONES ****/
@media only screen and (max-width: 767px) {
  .player-progress {
    display: flex;
    flex-direction: column;
  }
  .player-progress article.bundles ul {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
/**** SCSS FOR THE INDEX OF THE GAMES AND THE UPLOADER ****/
.games h3 {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
}
.games section:first-of-type form {
  display: flex;
  margin-top: 0.8rem;
}
.games section:first-of-type form label {
  cursor: pointer;
  border: 1px solid #D61E92;
  padding: 0.5rem 1rem;
  background-color: rgba(214, 30, 146, 0.2);
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  text-underline-offset: 0.2rem;
}
.games section:first-of-type form input[type=file] {
  display: none;
}
.games section:first-of-type form input[type=submit] {
  border: 1px solid #0CC09E;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-family: "Inconsolata", sans-serif;
  font-size: 1rem;
  background-color: #0CC09E;
  font-weight: bolder;
}
.games section:first-of-type form input[type=submit]:hover {
  background-color: #FAFAFA;
}
.games section:last-of-type {
  margin-top: 1.6rem;
}
.games section:last-of-type ul {
  list-style: square;
  margin-left: 1rem;
}
.games section:last-of-type ul li a {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  text-decoration-color: #0CC09E;
  color: #0C092B;
}

/**** SCSS FOR THE ACCOUNT PAGE ****/
.account {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  padding: 1rem;
  border: 2px dashed #D61E92;
}
.account h3 {
  grid-area: 1/1/2/3;
}
.account dl {
  grid-area: 2/1/4/2;
}
.account dl dt {
  font-weight: bolder;
  font-size: 1.1rem;
}
.account a {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-self: center;
  justify-self: center;
  color: #0C092B;
  background-color: #0CC09E;
  padding: 0.5rem 1rem;
  -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
          clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}
.account a:first-of-type {
  grid-area: 2/2/3/3;
}
.account a:last-of-type {
  grid-area: 3/2/4/3;
}

/**** MEDIA QUERIES FOR SMARTPHONES ****/
@media only screen and (max-width: 767px) {
  .account {
    display: flex;
    flex-direction: column;
  }
  .account a {
    margin: 0.8rem 0;
  }
}
form.forms {
  display: grid;
  border: 2px dashed #D61E92;
  width: 40rem;
  margin: 0 auto;
  padding: 1rem;
}
form.forms fieldset {
  display: grid;
  grid-template-columns: auto auto 20rem;
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 1.5rem;
  border: none;
  margin: 1rem 0;
  padding: 0;
}
form.forms fieldset label {
  grid-area: 1/1/2/3;
  font-size: 1.2rem;
  align-self: center;
}
form.forms fieldset label[for=password] {
  grid-area: 1/1/2/2;
}
form.forms fieldset input {
  grid-area: 1/3/2/4;
  justify-self: end;
  width: 95%;
  padding: 0.5rem 1rem;
  border: 1px solid #0CC09E;
  background-color: rgba(12, 192, 158, 0.4);
}
form.forms fieldset input::-moz-placeholder {
  color: #0C092B;
  font-family: "Inconsolata", sans-serif;
}
form.forms fieldset input::placeholder {
  color: #0C092B;
  font-family: "Inconsolata", sans-serif;
}
form.forms fieldset input:focus {
  outline: none;
  font-family: "Inconsolata", sans-serif;
  color: #0C092B;
}
form.forms fieldset p {
  grid-area: 2/1/3/4;
  font-size: 0.8rem;
  color: #D61E92;
}
form.forms fieldset p.info {
  grid-area: 1/2/2/3;
  align-self: center;
  justify-self: end;
  width: -moz-fit-content;
  width: fit-content;
  color: #0C092B;
  font-size: 1rem;
  position: relative;
  background-color: #0CC09E;
  padding: 0.3rem 0.5rem;
}
form.forms fieldset p.info span {
  font-size: 0.9rem;
  visibility: hidden;
  width: 10rem;
  background-color: #0C092B;
  color: #D9D9D9;
  text-align: center;
  padding: 0.5rem;
  position: absolute;
  z-index: 1;
}
form.forms fieldset p.info:hover span {
  visibility: visible;
}
form.forms input[type=submit] {
  justify-self: center;
  margin-top: 1rem;
  border: none;
  background-color: #4361EE;
  color: #FAFAFA;
  font-size: 1.1rem;
  padding: 0.8rem 1.2rem;
  -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
          clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
  cursor: pointer;
}
form.forms input[type=submit]:hover {
  background-color: #D61E92;
}

/**** MEDIA QUERIES FOR SMARTPHONES ****/
@media only screen and (max-width: 767px) {
  form.forms {
    max-width: 90%;
    padding: 0.6rem;
  }
  form.forms fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem auto;
  }
}
/**** SCSS FOR THE HEADER OF THE BACK OFFICE ****/
.admin-header {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 20% 80%;
  background-color: #4361EE;
  padding: 0;
}
.admin-header h1 {
  grid-area: 1/1/2/2;
  padding: 2rem 1rem;
  align-self: center;
  text-align: center;
  color: #FAFAFA;
}
.admin-header form {
  grid-area: 1/2/2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
.admin-header form input {
  border: none;
  background-color: #FAFAFA;
  -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
          clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
  color: #4361EE;
  padding: 0.5rem 1rem;
}
.admin-header nav {
  grid-area: 2/1/3/3;
  align-items: start;
  justify-content: center;
}
.admin-header nav ul {
  flex-direction: column;
  align-items: center;
}
.admin-header nav ul li {
  margin: 1.5rem 0;
}
.admin-header nav ul li a {
  background-color: #FAFAFA;
  color: #4361EE;
  font-weight: bolder;
}

.admin-layout {
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
  height: 100vh;
}
.admin-layout .admin-header {
  grid-column: 1/2;
}
.admin-layout main {
  grid-column: 2/3;
  width: 80%;
}
.admin-layout main h2 {
  padding: 2rem 0;
}
.admin-layout main .add-picture h3 {
  margin: 2rem 0;
  font-size: 1.4rem;
}
.admin-layout main .add-picture form {
  display: flex;
}
.admin-layout main .add-picture form label {
  cursor: pointer;
  border: 1px solid #D61E92;
  padding: 0.5rem 1rem;
  background-color: rgba(214, 30, 146, 0.2);
}
.admin-layout main .add-picture form input[type=file] {
  display: none;
}
.admin-layout main .add-picture form input[type=submit] {
  border: 1px solid #0CC09E;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-family: "Inconsolata", sans-serif;
  font-size: 1rem;
  background-color: #0CC09E;
  font-weight: bolder;
}
.admin-layout main .add-picture form input[type=submit]:hover {
  background-color: #FAFAFA;
}

.admin-layout .search-user {
  margin: 1rem auto;
  border: 1px solid #D61E92;
  padding: 0.5rem 1rem;
  background-color: rgba(214, 30, 146, 0.2);
}
.admin-layout .search-user::-moz-placeholder {
  font-family: "Inconsolata", sans-serif;
  color: #0C092B;
}
.admin-layout .search-user::placeholder {
  font-family: "Inconsolata", sans-serif;
  color: #0C092B;
}
.admin-layout table {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
}
.admin-layout table thead {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  margin: 2rem 0;
}
.admin-layout table thead th {
  text-align: start;
  font-size: 1.2rem;
  padding: 0.8rem 0;
}
.admin-layout table thead th:last-of-type {
  width: 30%;
}
.admin-layout table thead th:nth-of-type(3) {
  width: 15%;
}
.admin-layout table tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.admin-layout table tbody tr td {
  padding: 0.5rem 0;
}
.admin-layout table tbody tr td input[type=submit], .admin-layout table tbody tr td button[type=submit] {
  border: 1px solid #0CC09E;
  background-color: #0CC09E;
  font-family: "Inconsolata", sans-serif;
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}
.admin-layout table tbody tr td input[type=submit]:hover, .admin-layout table tbody tr td button[type=submit]:hover {
  background-color: #FAFAFA;
}
.admin-layout table tbody tr td:last-of-type {
  display: flex;
  justify-content: space-between;
}
.admin-layout table tfoot td {
  padding: 0.8rem 0;
  font-weight: bolder;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}
html body {
  font-family: "Inconsolata", sans-serif;
  font-size: 1rem;
  color: #0C092B;
  background-color: #D9D9D9;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.6rem;
}
html body .hidden {
  display: none;
}
html body main {
  max-width: 65vw;
  min-height: 75vh;
  margin: 0 auto;
  padding: 2rem;
  background-color: #FAFAFA;
  box-shadow: inset 0.3rem 0px 0px 0px rgba(217, 217, 217, 0.6), inset -0.3rem 0px 0px 0px rgba(217, 217, 217, 0.6), inset 0.6rem 0px 0px 0px rgba(217, 217, 217, 0.4), inset -0.6rem 0px 0px 0px rgba(217, 217, 217, 0.4);
}
html body main .title {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  background-color: #4361EE;
  padding: 0.6rem 0.8rem;
  font-family: "Inconsolata", sans-serif;
  color: #FAFAFA;
  -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
          clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
  cursor: pointer;
}
html body main .title.button-focus {
  font-weight: bolder;
  -webkit-clip-path: polygon(20% 0, 20% 10%, 10% 10%, 10% 20%, 0 20%, 0 80%, 10% 80%, 10% 90%, 20% 90%, 20% 100%, 80% 100%, 80% 90%, 90% 90%, 90% 80%, 100% 80%, 100% 20%, 90% 20%, 90% 10%, 80% 10%, 80% 0);
          clip-path: polygon(20% 0, 20% 10%, 10% 10%, 10% 20%, 0 20%, 0 80%, 10% 80%, 10% 90%, 20% 90%, 20% 100%, 80% 100%, 80% 90%, 90% 90%, 90% 80%, 100% 80%, 100% 20%, 90% 20%, 90% 10%, 80% 10%, 80% 0);
}
html body main.staticpages section {
  margin-top: 1.6rem;
}
html body a {
  text-decoration: none;
  display: inline-block;
  color: #0C092B;
}
html body p {
  margin: 0;
}
html body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
html body h1, html body h2, html body h3, html body h4 {
  font-family: "Chakra Petch", sans-serif;
  margin: 0;
}
html body h2 {
  font-size: 2rem;
  text-align: center;
  padding: 2rem 0;
}
html body h3 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}
html body h4 {
  font-size: 1.3rem;
}
html body table {
  border-collapse: collapse;
}
html body .accessibility a {
  padding: 0.6rem;
  color: #0C092B;
  background-color: #0CC09E;
  opacity: 0;
  position: absolute;
  top: -1000px;
  left: 0;
}
html body .accessibility a:focus {
  opacity: 1;
  top: 12rem;
}
html body.dark-mode {
  background-color: #050314;
  color: #FAFAFA;
}
html body.dark-mode header nav ul li a {
  background-color: #0c092b;
  color: #FAFAFA;
}
html body.dark-mode header nav ul li input {
  background-color: #0c092b;
}
html body.dark-mode header nav ul li button {
  background-image: url("/res04-projet-soutenance/assets/images/sun.png");
  background-color: #0c092b;
}
html body.dark-mode main {
  background-color: #0c092b;
  box-shadow: inset 0.3rem 0px 0px 0px rgba(5, 3, 20, 0.6), inset -0.3rem 0px 0px 0px rgba(5, 3, 20, 0.6), inset 0.6rem 0px 0px 0px rgba(5, 3, 20, 0.4), inset -0.6rem 0px 0px 0px rgba(5, 3, 20, 0.4);
}
html body.dark-mode main a {
  color: #D9D9D9;
}
html body.dark-mode main .search {
  background-color: rgba(214, 30, 146, 0.4);
}
html body.dark-mode main .search::-moz-placeholder {
  color: #D9D9D9;
}
html body.dark-mode main .search::placeholder {
  color: #D9D9D9;
}

/**** MEDIA QUERIES FOR TABLETS ****/
@media only screen and (min-width: 768px) and (max-width: 992px) {
  html body main {
    max-width: 85vw;
  }
}
/**** MEDIA QUERIES FOR SMARTPHONES ****/
@media only screen and (max-width: 767px) {
  html body main {
    max-width: 100%;
    box-shadow: none;
    padding: 1.6rem 0.6rem;
  }
}/*# sourceMappingURL=style.css.map */