footer {
    background-color: $blue;

    nav {
        padding: .8rem 0;

        ul {
            display:flex;
            justify-content: space-evenly;

            li {
                a {
                    font-size:1rem;
                    color: $background-main;
                    text-decoration: none;
                }
            }
        }
    }
}

/**** MEDIA QUERIES FOR TABLETS ****/
@media only screen and (min-width: 768px) and (max-width: 992px) {
    footer {
        nav {
            max-width: 100vw;

            ul {
                width: 100%;
                justify-content: space-evenly;
            }
        }
    }
}