footer {
    background-color: $blue;

    nav {
        max-width: 65vw;
        margin: 0 auto;
        padding: .8rem 0;
        display:flex;
        justify-content:center;

        ul {
            display:flex;

            li {
                margin: 0 6rem;

                a {
                    font-size:1rem;
                    color: $background-main;
                    text-decoration: none;
                }
            }
        }
    }
}